

<div class="copyrigth animated fadeInUp">
    <div class="text-center m-t-lg m-b-lg">
        <p><strong>&copy; 2020 Eleva Educação</strong><br /> @GlobalizationController.GetInstance().GetString("All rights reserved") <span style="cursor:pointer;" data-container="body" data-toggle="popover" data-placement="top" data-content="jjsfandre@gmail.com">Jônatas André </span></p>
    </div>
</div>